@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
.btnbg-primary {
  background-color: #4b1e2f;
  color: white;
}

.text-primary {
  color: #4b1e2f;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.btn-primary{
  @apply bg-[#4B1E2F] text-white px-6 py-3 rounded-md hover:bg-white hover:text-[#4B1E2F] border border-transparent hover:border-black active:scale-95 transition-all cursor-pointer
}

.btn-signin{
  @apply bg-[#4B1E2F] text-white px-8 py-2 rounded-md hover:bg-white hover:text-[#4B1E2F] border border-transparent hover:border-black active:scale-95 transition-all cursor-pointer
}